/* CSS Document */

body, form, table, caption, tr, tr, td, ul, ol, li, dl, img, button, p, h1, h2, h3, h4, h5, h6, dl, dt, dd, object, iframe, dl, dt, dd, legend, fieldset { padding:0; margin:0; outline:0; }
img { border:0; }

body { font:normal 75% 'TrebuchetMS', 'Trebuchet MS', Arial, Helvetica, sans-serif; color:#666; padding:0; margin:0; background-color:#f7f7f7; }

h1 { font-size:1.2em; }
h2 { font-size:1em; margin:1em 0 .3em 0; }
a { color:#c33; text-decoration:none; }
a:hover { color:#000; }

.listadoTA { list-style:none; margin-right:.5em; }
.listadoTA li { padding:.2em 0 .2em 2.5em; background:#f7f7f7 url(../images/iframe/ico_form.gif) no-repeat 0 .5em; }
.listadoTA li span { display:block; font-size:.8em; margin-top:.2em; }

p { margin:.5em 0; }
p.info { font-size:.9em; margin-top:0; }
p.tipoAutenticacion { font-size:.9em; padding:1em 0 1em 6em; margin-top:0; margin-bottom:0em; }
p.tipoAutenticacion strong { display:block; font-size:1.5em; }

p.cd { background:#dfecf7 url(../images/iframe/autenticacion_cd.gif) no-repeat .8em 50%; }
p.uc { background:#dfecf7 url(../images/iframe/autenticacion_uc.gif) no-repeat .8em 50%; }
p.a { background:#dfecf7 url(../images/iframe/autenticacion_a.gif) no-repeat .8em 50%; }

p.usuario { font-size:1.2em; margin-top:0; }

h1.inicioTramite { display:block; padding:1em 0 0 0; margin-bottom:.5em; }

h1.cd { }
h1.a { }

a.inicioAutenticado { padding-left:2em; margin-left:1em; background:#f7f7f7 url(../images/iframe/ico_flecha.gif) no-repeat left center; }

p.formBotonera { text-align:center; }
p.infoIndex { font-size:.9em; }

div.anonimoOpcion { padding-left:2em; margin-left:1em; }
p.inacabados { padding-left:2em; margin-left:1em; background: #f7f7f7 url(../images/iframe/ico_flecha.gif) no-repeat left center; }
